/* .border{
    margin: 3px;
} */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    
    padding: 10px 6px 10px 10px;
    
}

.p-1{
    padding: 12px;
    margin: 0px 0px 10px 0px
}



    /* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #666; /* Dark color for the track */
  }
  
  /* For Firefox */
  /* You may need to use a pseudo-element for Firefox */
  /* Since Firefox does not support styling the scrollbar directly */
  /* This will create a pseudo-element to style the scrollbar */
  
  /* Add this to the body element to style the scrollbar in Firefox */
  /* body::-webkit-scrollbar {
    width: 12px;
  } */
  
  body {
    scrollbar-color: #333 #666; /* Dark color for the thumb and track */
  
   
  
}